<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/launcher_image"
        android:label="@string/app_name"
        android:roundIcon="@drawable/launcher_image"
        android:supportsRtl="true"
        android:theme="@style/Theme.AirlineMobileApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activity.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.AirlineMobileApp.NoActionBar" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.FlightSearch" />
        <activity
            android:name=".activity.ViewpagerActivity"
            android:exported="true"
            android:theme="@style/Theme.AirlineMobileApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>